/* src/styles.css */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  background: linear-gradient(135deg, #01071b, #0c1431);
  overflow-x: hidden;
}
section {
  padding: 6em 1em;
  max-width: 900px;
  margin: 0 auto;
}

h2 {
  border-bottom: 2px solid #f9aa33;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}
